# 1. Ignore everything by default
*

# 2. But KEEP the following files and folders:

# Keep this .gitignore file itself
!.gitignore

# Keep the entire AssetBundles folder and everything inside it
!/AssetBundles/
!/AssetBundles/**

# But ignore the .manifest files inside AssetBundles
/AssetBundles/**/*.manifest

# Keep the SongList.json and its meta file
# To do this, we must un-ignore the parent directories, then re-ignore their other contents.
!/Assets/
/Assets/*
!/Assets/ServerMock/
/Assets/ServerMock/*
!/Assets/ServerMock/SongList.json
!/Assets/ServerMock/SongList.json.meta